__pycache__/
*.pyc
*.pyo
*.pyd
.env
env/
venv/
nenv/
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log
*.pot
*.mo
*.swp
.idea/
.vscode/
*.DS_Store
*.egg-info/
dist/
build/
*.egg
*.coverage
.coverage.*
.cache
.pytest_cache/
.mypy_cache/
